* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.port-piece-card {
    /* width: 300px;
    height: auto; */
    /* background-color: #fff; */
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.5rem;
}

.port-piece-card-overlay {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.685);
}

.port-piece-card-overlay p {
    color: #fff;
}

.port-piece-card:hover .port-piece-card-overlay {
    opacity: 1;
}

