* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.port-piece-card {
    margin-bottom: 1.5rem;
}

.port-piece-card img {
    width: 100%;
}

.port-piece-card-overlay {
    top: 0;
    opacity: 0;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.685);
}

.overlay-border {
    border: 1px solid #fff;
    margin: 1rem;
}

.port-piece-card-overlay p {
    color: #fff;
}

.port-piece-card:hover .port-piece-card-overlay {
    opacity: 1;
}

.piece-name {
    font-weight: 500;
}

.piece-medium {
    font-weight: 300;
}