* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-admin form {
    font-weight: 300;
    margin-top: 40px;
}

.about-admin input {
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
    font-weight: 300;
}

.about-admin textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
    min-width: 100%;
    min-height: 124px;
    font-weight: 300;
}

.social-add {
    font-weight: 300;
    font-size: 0.75rem;
}

/* .social-add-icon,
.social-delete-icon {
    cursor: pointer;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 50%;
    padding: 0.5rem;
}

.social-add-icon:hover,
.social-delete-icon:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
} */