* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    margin-left: 340px;
    width: calc(100% - 340px);
    padding: 80px 20px 80px 0;
}

.shop-container,
.login-container {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}

/* About */
.about-container {
    font-weight: 300;
}

.about-container a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: rgb(107, 107, 107);
}

/* Videos */
.videos-container {
    width: 100%;
    max-width: 768px;
}

.videos-container iframe {
    height: auto;
}


/* Item Detail */
.item-detail-container
.cart-container {
    padding-top: 40px
}

.item-detail-container a:link,
.cart-container a:link,
.shop-add-container a:link,
.portfolio-add-container a:link {
    text-decoration: none;
    color: #444;
}

.text-link {
    color: #444;
    font-weight: 300;
}

.item-detail {
    margin-top: 20px;
}

.item-detail img {
    width: 400px;
}

.item-detail-text {
    font-weight: 300;
}

.item-detail h2 {
    line-height: .9;
    margin-bottom: 10px;
}

.item-detail span {
    margin-bottom: 4px;
}

.primary-btn {
    /* max-width: 160px; */
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.secondary-btn {
    /* max-width: 160px; */
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
}



/* Cart */
.cart-container h1 {
    margin: 20px 0;
}

.cart-table {
    font-weight: 300;
    /* border-bottom: 1px solid #dbdbdb; */
}

.cart-table th {
    text-transform: lowercase;
    font-weight: 300;
}



/* Admin */
.admin-tabs {
    margin-bottom: 2.5rem;
    font-weight: 300;
}

.admin-tabs ul li {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.admin-tabs ul li:hover {
    border-bottom: 2px solid #000;
}

.admin-tabs ul li:first-child {
    margin-left: 20px;
}

.admin-tabs ul li.active {
    border-bottom: 2px solid #000;
    font-weight: 500;
}

.show {
    display: block;
}

.hide {
    display: none;
}



/* Shop - Add New Item */
.shop-add-container h1 {
    margin: 20px 0;
}



/* Portfolio */
.portfolio-container {
    /* display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: 0; */
    columns: 3;
    column-gap: 1.5rem;
}

.portfolio-add-container h1 {
    margin: 20px 0;
}




/* Large devices */
@media only screen and (max-width: 1200px) {
    .portfolio-container {
        /* grid-template-columns: repeat(2, minmax(100px, 1fr)); */
        columns: 2;
    }
}

/* Medium devices */
@media only screen and (max-width: 992px) {
    .portfolio-container {
        /* grid-template-columns: repeat(1, minmax(100px, 1fr)); */
        columns: 1;
    }
}


/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .main-container {
        margin-left: 0;
        width: 100%;
        padding: 40px 16px;
    }
    /* .uk-first-column {
        padding: 0;
    } */
}