* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.admin-table {
    font-weight: 300;
}

.admin-table th {
    font-weight: 300;
    text-transform: lowercase;
    font-size: .75rem;
}