* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart-row img {
    max-width: 100px;
    margin-right: 10px;
}

.cart-row select {
    min-width: 60px;
    max-width: 80px;
}

.cart-delete-btn {
    cursor: pointer;
    min-width: 20px;
}